



pre[class*="language-"],
code[class*="language-"] {
    @apply text-neutral-300 dark:text-neutral-300;
    font-size: 13px;
    text-shadow: none;
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::selection,
code[class*="language-"]::selection,
pre[class*="language-"] *::selection,
code[class*="language-"] *::selection {
    text-shadow: none;
    @apply bg-cyan-800 dark:bg-cyan-800;
}

@media print {

    pre[class*="language-"],
    code[class*="language-"] {
        text-shadow: none;
    }
}

pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
    @apply bg-zinc-200 dark:bg-zinc-900;
}

:not(pre)>code[class*="language-"] {
    padding: 0.1em 0.3em;
    border-radius: 0.3em;
    @apply text-rose-500 dark:text-rose-500;
    @apply bg-zinc-200 dark:bg-zinc-900;
}

/*********************************************************
* Tokens
*/
.namespace {
    opacity: 0.7;
}

.token.doctype .token.doctype-tag {
    @apply text-blue-600 dark:text-blue-400;
}

.token.doctype .token.name {
    @apply text-blue-500 dark:text-blue-300;
}

.token.comment,
.token.prolog {
    @apply text-neutral-400 dark:text-neutral-500;
}

.token.punctuation,
.language-html .language-css .token.punctuation,
.language-html .language-javascript .token.punctuation {
    @apply text-neutral-400 dark:text-neutral-300;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.inserted,
.token.unit {
    @apply text-green-200 dark:text-green-200;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.deleted {
    @apply text-red-600 dark:text-red-300;
}

.language-css .token.string.url {
    text-decoration: underline;
}

.token.operator,
.token.entity {
    @apply text-neutral-400 dark:text-neutral-300;
}

.token.operator.arrow {
    @apply text-blue-600 dark:text-blue-400;
}

.token.atrule {
    @apply text-red-600 dark:text-red-300;
}

.token.atrule .token.rule {
    @apply text-fuchsia-700 dark:text-fuchsia-400;
}

.token.atrule .token.url {
    @apply text-blue-500 dark:text-blue-300;
}

.token.atrule .token.url .token.function {
    @apply text-lime-600 dark:text-lime-200;
}

.token.atrule .token.url .token.punctuation {
    @apply text-neutral-400 dark:text-neutral-300;
}

.token.keyword {
    @apply text-blue-600 dark:text-blue-400;
}

.token.keyword.module,
.token.keyword.control-flow {
    @apply text-fuchsia-700 dark:text-fuchsia-400;
}

.token.function,
.token.function .token.maybe-class-name {
    @apply text-lime-600 dark:text-lime-200;
}

.token.regex {
    @apply text-red-400 dark:text-red-400;
}

.token.important {
    @apply text-blue-600 dark:text-blue-400;
}

.token.italic {
    font-style: italic;
}

.token.constant {
    @apply text-blue-300 dark:text-blue-300;
}

.token.class-name,
.token.maybe-class-name {
    @apply text-emerald-500 dark:text-emerald-300;
}

.token.console {
    @apply text-blue-500 dark:text-blue-300;
}

.token.parameter {
    @apply text-blue-500 dark:text-blue-300;
}

.token.interpolation {
    @apply text-blue-500 dark:text-blue-300;
}

.token.punctuation.interpolation-punctuation {
    @apply text-blue-600 dark:text-blue-400;
}

.token.boolean {
    @apply text-blue-600 dark:text-blue-400;
}

.token.property,
.token.variable,
.token.imports .token.maybe-class-name,
.token.exports .token.maybe-class-name {
    @apply text-blue-500 dark:text-blue-300;
}

.token.selector {
    @apply text-orange-300 dark:text-orange-300;
}

.token.escape {
    @apply text-orange-300 dark:text-orange-300;
}

.token.tag {
    @apply text-blue-600 dark:text-blue-400;
}

.token.tag .token.punctuation {
    @apply text-zinc-500 dark:text-zinc-500;
}

.token.cdata {
    @apply text-zinc-500 dark:text-zinc-500;
}

.token.attr-name {
    @apply text-blue-500 dark:text-blue-300;
}

.token.attr-value,
.token.attr-value .token.punctuation {
    @apply text-red-600 dark:text-red-300;
}

.token.attr-value .token.punctuation.attr-equals {
    @apply text-neutral-400 dark:text-neutral-300;
}

.token.entity {
    @apply text-blue-600 dark:text-blue-400;
}

.token.namespace {
    @apply text-emerald-500 dark:text-emerald-300;
}

/*********************************************************
* Language Specific
*/

pre[class*="language-javascript"],
code[class*="language-javascript"],
pre[class*="language-jsx"],
code[class*="language-jsx"],
pre[class*="language-typescript"],
code[class*="language-typescript"],
pre[class*="language-tsx"],
code[class*="language-tsx"] {
    @apply text-blue-500 dark:text-blue-300;
}

pre[class*="language-css"],
code[class*="language-css"] {
    @apply text-red-600 dark:text-red-300;
}

pre[class*="language-html"],
code[class*="language-html"] {
    @apply text-neutral-400 dark:text-neutral-300;
}

.language-regex .token.anchor {
    @apply text-lime-600 dark:text-lime-200;
}

.language-html .token.punctuation {
    @apply text-zinc-500 dark:text-zinc-500;
}

/*********************************************************
* Line highlighting
*/
pre[class*="language-"]>code[class*="language-"] {
    position: relative;
    z-index: 1;
}

.line-highlight.line-highlight {
    @apply text-amber-200 dark:text-amber-200 shadow-amber-200 dark:shadow-amber-200;
    box-shadow: inset 5px 0 0;
    z-index: 0;
}